.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc

*/.DS_Store

*.xcodeproj/*.xcworkspace/xcshareddata/swiftpm/Package.resolved
*.xcworkspace/xcshareddata/swiftpm/Package.resolved

xcuserdata/

DerivedData

*.hmap
*.ipa
*.dSYM.zip
*.dSYM
/*.gcno

timeline.xctimeline
playground.xcworkspace

.build/

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
